{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавить продукт</title>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/admin.css' %}">
</head>
<body>
    <header>Добавить новый продукт</header>

    <div class="form-container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Добавить</button>
        </form>
    </div>

    <h2>Пользователи платформы</h2>
<div class="users-container">
    {% for user in users %}
    <div class="user-card">
        <img src="{{ user.profile_picture.url }}" alt="Фото профиля">
        <h3>{{ user.username }}</h3>
    </div>
    {% empty %}
    <p>Пользователей пока нет.</p>
    {% endfor %}
</div>

</body>
</html>
