{% extends "base.html" %}
{% block title %}Чат | TimeStudy{% endblock %}
{% block content %}
        <section class="cart-container">
            <ul id="cart-items"></ul>
            <p><strong>Общая сумма: </strong><span id="cart-total">0</span>₸</p>
            <div class="payment-options">
                <button class="checkout-btn">Оплатить</button>
                <button class="credit-btn" onclick="showCreditOptions()">Взять в кредит</button>
                <button onclick="clearCart()" class="clear-btn">Очистить корзину</button>
                <button onclick="goToHome()" class="home-btn">На главную</button>
            </div>
            <div id="credit-options" class="hidden">
                <h3>Выберите срок кредита:</h3>
                <button onclick="calculateCredit(12)">12 месяцев</button>
                <button onclick="calculateCredit(24)">24 месяца</button>
                <p id="credit-result"></p>
            </div>
        </section>
{% endblock %}