{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
    <script src="{% static 'js/registration.js' %}"></script>
</head>
<body>

    <div class="registration-container">
        <h2>Создание аккаунта</h2>

        <form id="signup-form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Зарегестрироваться</button>
        </form>

        <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
    </div>

</body>
</html>
